    .item-block {
      border: 1px solid #aaa;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 70px);
      gap: 5px;
      margin-top: 5px;
    }

    .attribute-block {
      margin-top: 5px;
      padding-left: 10px;
    }

    input[type="text"],
    input[type="number"] {
      width: 160px;
      margin-bottom: 3px;
    }

    .attribute-list {
      margin-top: 10px;
      margin-bottom: 10px;
    }
.selected {
    color: blue;
    font-size: medium;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
